<!-- {% set current_item = {} if not current_item else current_item %} -->

<div class="modal fade" id="create-issue-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Issue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/api/v1/issues{{ '/' + (current_item.id|string) if current_item else ''}}"
                id="create-issue-form" method="post">
                <input type="hidden" name="reporter" value="1">
                <input type="hidden" name="id" value="{{ current_item.id }}">

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="issue-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" name="title" id="issue-title"
                            value="{{ current_item.title }}">
                    </div>
                    <div class="mb-3">
                        <label for="issue-description" class="col-form-label">Description:</label>
                        <textarea class="form-control" name="description" id="issue-description"
                            style="min-height: 4em;">{{ current_item.description }}</textarea>
                    </div>
                    <div class="row mb-3">
                        {% for key, items in [('severity', severity), ('status', status), ('label', label)] %}
                        <div class="col-auto">
                            <label for="issue-{{ key }}" class="col-form-label">{{ key | title }}:</label>
                            <select class="form-select" name="{{ key }}" id="issue-{{ key }}">
                                {% for item in items %}
                                {% if current_item.get(key)==item.value %}
                                <option value="{{ item.value }}" selected>
                                    {% else %}
                                <option value="{{ item.value }}">
                                    {% endif %}

                                    {{ item.name | replace('_', ' ') | title }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="issue-due" class="col-form-label">Due:</label>
                        <input type="date" class="form-control" name="due" id="issue-due"
                            value="{{ current_item.due or '' }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-issue-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ current_item.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/api/v1/issues/{{ current_item.id }}/delete" id="delete-issue-form" method="post">
                <div class="modal-body">
                    <p>Are sure you want to remove this issue.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
