{% extends "base.html" %}

{% block main %}
<div class="row center-block">
    <h1 class="text-center my-4">Bug tracker start</h1>

    <div class="container col-xxl-6 col-lg-8 col-md-12">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dolorum non asperiores, pariatur
            adipisci rerum voluptates quisquam veritatis quasi, error eius nam ex ipsam et eveniet doloribus rem
            laboriosam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dolorum non asperiores, pariatur
            minus
            adipisci rerum voluptates quisquam veritatis quasi, error eius nam ex ipsam et eveniet doloribus rem
            laboriosam.</p>
    </div>
</div>
{% endblock %}
