{% extends "main/base.html" %}

{% set current_page = 'issues' %}
{% set title = 'Issues' %}

{% block main %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Issues</h4>
                        <p class="card-category">List of issues</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-striped table-hover table-borderless">
                            <caption class="visually-hidden">List of projects issues</caption>
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Severity</th>
                                    <th scope="col">Label</th>
                                    <th scope="col">Due</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for issue in data %}
                                <tr>
                                    <td>{{ issue.id }}</td>
                                    <td>{{ issue.title | capitalize }}</td>
                                    <td>{{ issue.description | capitalize }}</td>
                                    <td>{{ issue.user.username }}</td>
                                    <td>{{ issue.status | replace('_', ' ') | capitalize }}</td>
                                    <td>{{ issue.severity | replace('_', ' ') | capitalize }}</td>
                                    <td>{{ issue.label | replace('_', ' ') | capitalize }}</td>
                                    <td>{{ issue.due }}</td>
                                    <td class="td-actions">
                                        <a href="/issues?item_id={{ issue.id }}" rel="tooltip"
                                            class="btn btn-info btn-simple btn-link"
                                            data-bs-original-title="Edit Issue">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/issues?item_id={{ issue.id }}&deleted=1" rel="tooltip"
                                            data-bs-original-title="Remove Issue"
                                            class="btn btn-danger btn-simple btn-link">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
