{% extends "main/base.html" %}

{% set current_page = 'issues' %}
{% set title = 'Issues' %}

{% block main %}
<div class="p-4 sm:p-6">
    <div class="bg-white rounded-lg shadow">
        <div class="px-5 py-4 border-b border-gray-200">
            <h4 class="text-lg font-semibold">Issues</h4>
            <p class="text-sm text-gray-500">List of issues</p>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full text-sm">
                <caption class="sr-only">List of projects issues</caption>
                <thead class="bg-gray-50 text-left text-xs font-semibold uppercase text-gray-500">
                    <tr>
                        <th scope="col" class="px-4 py-3">ID</th>
                        <th scope="col" class="px-4 py-3">Title</th>
                        <th scope="col" class="px-4 py-3">Description</th>
                        <th scope="col" class="px-4 py-3">Username</th>
                        <th scope="col" class="px-4 py-3">Status</th>
                        <th scope="col" class="px-4 py-3">Severity</th>
                        <th scope="col" class="px-4 py-3">Label</th>
                        <th scope="col" class="px-4 py-3">Due</th>
                        <th scope="col" class="px-4 py-3"></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100">
                    {% for issue in data %}
                    <tr class="odd:bg-white even:bg-gray-50 hover:bg-blue-50">
                        <td class="px-4 py-3">{{ issue.id }}</td>
                        <td class="px-4 py-3">{{ issue.title | capitalize }}</td>
                        <td class="px-4 py-3">{{ issue.description | capitalize }}</td>
                        <td class="px-4 py-3">{{ issue.user.username }}</td>
                        <td class="px-4 py-3">{{ issue.status | replace('_', ' ') | capitalize }}</td>
                        <td class="px-4 py-3">{{ issue.severity | replace('_', ' ') | capitalize }}</td>
                        <td class="px-4 py-3">{{ issue.label | replace('_', ' ') | capitalize }}</td>
                        <td class="px-4 py-3">{{ issue.due }}</td>
                        <td class="px-4 py-3 whitespace-nowrap">
                            <a href="/issues?item_id={{ issue.id }}" title="Edit Issue"
                                class="text-blue-500 hover:text-blue-700 mr-2">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/issues?item_id={{ issue.id }}&deleted=1" title="Remove Issue"
                                class="text-red-500 hover:text-red-700">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
